@media screen and (max-width: 920px) {
    .header h1 {
        font-size: 46px;
    }
    .header h3 {
        font-size: 20px;
    }
    .main-section {
        margin-top: 30px;
        font-size: 25px;
    }
    
}

@media screen and (max-width: 830px) {
    .header h1,  .header h3{
        margin-left: 60%;
    }
    
    main .aside {
        width: 40%;
    }
    .foto-wrapper {
        width: 350px;
        height: 300px;
        left: 1%;
        top: 1%;
    }
    .main-section {
        font-size: 25px;
    }
    
}
@media screen and (max-width: 750px) {
    .foto-wrapper {
        top: 2%;
    }
    .foto-wrapper {
        width: 400px;
        height: 350px;
        left: 1%;
    }
    main .aside {
        margin-left: 30px;
    }
    .main-section {
        font-size: 23px;
    }
}
@media screen and (max-width: 595px) {
    .header h1,  .header h3{
        margin-left: 55%;
        font-size: 36px;
        margin-left: 60%;
    }
    .header h3{
        font-size: 20px;
    }

    .foto-wrapper {
        width: 300px;
        height: 220px;
    }

    main .aside {
        width: 40%;;
        margin-left: 10px;
    }
    @media screen and (max-width: 595px){
        main > .main-section {
            width: 50%;
            padding-right: 0;
        }
    }
    .aside {
        padding-right: 5px;
    }
    .aside li {
        font-size: 16px;
    }
    .main-section {
        font-size: 20px;
    }
}
@media screen and (max-width: 514px) {
    .aside li{
      font-size: 12px;
    }
    
    
}

@media screen and (max-width: 480px) {
    .header h1,  .header h3{
        margin-left: 55%;
        font-size: 26px;
        margin-left: 60%;
    }
    .header h3{
        font-size: 16px;
    }

    .foto-wrapper {
        width: 270px;
        height: 190px;
    }
    
    
    .main-section {
        font-size: 17px;
    }
}
@media screen and (max-width: 420px) {
    .aside li{
        font-size: 10px;
    }
    .foto-wrapper {
        left: 0;
        width: 190px;
        height: 190px;
    }
    .main-section {
        font-size: 14px;
    }
    .header h3 {
        font-size: 12px;
    }
}


