.skills{
    width: 100%;
    height: 100vh;
}
.skills-wrap{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills-wrap p{
    font-size: 250%;
    color: rgb(5, 27, 101);
}

.skills-wrap a {
    color: blue;
}


